In [117]:
# Dependencies 
import pandas as pd

In [118]:
# file to load
file = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame 
data = pd.read_csv(file)

data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [119]:
purchase_ID = data.set_index("Purchase ID")
purchase_ID.head()

,SN,Age,Gender,Item ID,Item Name,Price
Purchase ID,,,,,,
0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,Ithergue48,24,Male,92,Final Critic,4.88
3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,Iskosia90,23,Male,131,Fury,1.44

In [120]:
# Player Count
total_players = len(data["SN"].unique())
total_players

576

In [121]:
# Purchasing Analysis
unique_data = len(data["Item ID"].unique())
unique_data

179

In [122]:
average_price = data["Price"].mean()
average_price

3.050987179487176

In [123]:
num_purchase = len(data["Purchase ID"])
num_purchase

780

In [124]:
total_rev = data["Price"].sum()
total_rev

2379.77

In [125]:
purchasing_analysis = pd.DataFrame({
    "Unique Data": [unique_data],
    "Average Price":[average_price],
    "Number of Purchases":[num_purchase],
    "Total Revanue": [total_rev]})
purchasing_analysis

   Unique Data  Average Price  Number of Purchases  Total Revanue
0          179       3.050987                  780        2379.77

In [126]:
#Gender Demographics
gender_count = data["Gender"].value_counts()
gender_count

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [127]:
gender_total = len(data["Gender"])
gender_total

780

In [128]:
total_male = 652/780
total_male

0.8358974358974359

In [129]:
total_female = 113/780
total_female

0.14487179487179488

In [130]:
gender_other = 15/780
gender_other

0.019230769230769232

In [131]:
percent_male = "{:.2%}".format(total_male)
percent_male

'83.59%'

In [132]:
percent_female = "{:.2%}".format(total_female)
percent_female

'14.49%'

In [133]:
percent_other = "{:.2%}".format(gender_other)
percent_other

'1.92%'

In [134]:
gender_percent = pd.DataFrame({
    "Gender" : ["Male","Female","Other/Non-Discolsed"],
    "Total Count" : [652, 113, 15],
    "Percent of Players" : [percent_male,percent_female,percent_other]})
gender_percent

                Gender  Total Count Percent of Players
0                 Male          652             83.59%
1               Female          113             14.49%
2  Other/Non-Discolsed           15              1.92%

In [135]:
# Purchasing Analysis (Gender)

#Male
purchase_male = data.loc[data["Gender"]=="Male",:]
purchase_male

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
774,774,Jiskjask80,11,Male,92,Final Critic,4.19
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [162]:
# Purchase count
gender_count
male_count = gender_count[0]
male_count

652

In [163]:
purchase_total_male = purchase_male.loc[:,["SN","Price"]]
purchase_total_male

                SN  Price
0          Lisim78   3.53
1      Lisovynya38   1.56
2       Ithergue48   4.88
3    Chamassasya86   3.27
4        Iskosia90   1.44
..             ...    ...
774     Jiskjask80   4.19
776         Iral74   1.63
777     Yathecal72   3.46
778        Sisur91   4.19
779      Ennrian78   4.60

[652 rows x 2 columns]

In [168]:
wednesday = purchase_total_male["SN"].value_counts()
wednesday.describe()

count    484.000000
mean       1.347107
std        0.629972
min        1.000000
25%        1.000000
50%        1.000000
75%        2.000000
max        5.000000
Name: SN, dtype: float64

In [141]:
#average purchase price for male
male_average = purchase_total_male.mean()
male_verage

NameError: name 'male_verage' is not defined

In [142]:
idk = purchase_total_male["SN"].value_counts()
idk
#idk.mean()

Lisosia93       5
Iral74          4
Idastidru52     4
Lassilsala30    3
Chadolyla44     3
               ..
Chanirra64      1
Chamadar79      1
Ceoral34        1
Pheusrical25    1
Eosrirgue62     1
Name: SN, Length: 484, dtype: int64

In [169]:
# Average Purchase Value
male_average_purchase = purchase_male["Price"].mean()
male_average_purchase

3.0178527607361953

In [147]:
# Total Purchase Value
male_total_value = purchase_male["Price"].sum()
male_total_value

1967.64

In [148]:
# Average Purchase Total per Person by Gender
male_average_perperson = purchase_male[""]

KeyError: ''

In [172]:
# Just Female Purchases 
purchase_female = data.loc[data["Gender"]=="Female",:]
purchase_female

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
18,18,Reunasu60,22,Female,82,Nirvana,4.90
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18
41,41,Assosia88,20,Female,7,"Thorn, Satchel of Dark Souls",1.33
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79
...,...,...,...,...,...,...,...
731,731,Eudanu84,22,Female,12,Dawne,1.02
740,740,Reunasu60,22,Female,127,"Heartseeker, Reaver of Souls",3.92
754,754,Pheosurllorin41,23,Female,79,"Alpha, Oath of Zeal",4.05
767,767,Ilmol66,8,Female,92,Final Critic,4.88
775,775,Aethedru70,21,Female,60,Wolf,3.54

In [182]:
#average per female
grouped_female = purchase_female.groupby(['SN'])
average_per_female = purchase_female["SN"].value_counts()
average_per_female.mean

ValueError: No axis named 1 for object type <class 'pandas.core.series.Series'>

In [171]:
# Purchase Count Female
gender_count
female_count = gender_count[1]
female_count

113

In [183]:
# Average Purchase Price Female 
average_purchase_female = purchase_female["Price"].mean()
average_purchase_female

3.203008849557519

In [184]:
# Total Purchase Value
total_purchase_female = purchase_female["Price"].sum()
total_purchase_female

361.94

In [157]:
#average per female
grouped_female = purchase_female.groupby(['SN'])
average_per_female = purchase_female["SN"].value_counts()
average_per_female.mean

female_purchase_count = purchase_female["Purchase ID"].value_counts()
female_purchase_count.head()

female_average_purchase = purchase_female["Price"].mean
female_average_purchase

767    1
41     1
71     1
72     1
586    1
Name: Purchase ID, dtype: int64

In [108]:
print(type("Price"))

<class 'str'>

In [170]:
# No values appeared
purchase_other = data.loc[data["Gender"]=="Non-Disclosed",:]
purchase_other.head()

Empty DataFrame
Columns: [Purchase ID, SN, Age, Gender, Item ID, Item Name, Price]
Index: []

In [ ]:
other_purchase_count = 15
other_purchase_count

In [ ]:
gender_count
other_count = gender_count[2]
other_count

In [ ]:
# Age Demographics 
age_bins = []

In [187]:
sn_purchase = data["SN"].value_counts()
sn_purchase.head()

Lisosia93      5
Iral74         4
Idastidru52    4
Rarallo90      3
Umolrian85     3
Name: SN, dtype: int64

In [186]:
# Top Spenders
top_five = .sort_values("Price", ascending=False)
top_five.head()

NameError: name 'sn_purchase' is not defined

In [103]:

top_spenders = purchase_ID.iloc[0:5,:]
top_spenders

,SN,Age,Gender,Item ID,Item Name,Price
Purchase ID,,,,,,
0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,Ithergue48,24,Male,92,Final Critic,4.88
3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,Iskosia90,23,Male,131,Fury,1.44

In [ ]:
# Purchase Count

In [90]:
# ascending order, max to min then pull the top 5
#.sort_values() 
spending = data.sort_values("Price", ascending=False)
spending.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
554,554,Dyally87,22,Male,63,Stormfury Mace,4.99
189,189,Hiasri33,23,Male,63,Stormfury Mace,4.99
110,110,Ririp86,25,Male,139,"Mercy, Katana of Dismay",4.94
246,246,Lirtilsa71,24,Male,139,"Mercy, Katana of Dismay",4.94
493,493,Chanirrasta87,14,Male,139,"Mercy, Katana of Dismay",4.94